langchain
flask
pypdf
python-dotenv
pinecone
langchain-pinecone
langchain_community
langchain-text-splitters
langchain_experimental
langchain-google-genai
transformers
huggingface-hub
huggingface_hub
google-generativeai
sentence-transformers==3.3.1
-e .